* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f3ff;
}

/* Header */

header {
    background-color: white;
    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: #6c3ce9;
}

nav a {
    text-decoration: none;
    color: black;
    margin-left: 25px;
}

nav a:hover {
    color: #6c3ce9;
}


/* Home */

#home {
    height: 90vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 50px;
}

.intro {
    width: 50%;
}

.intro h1 {
    font-size: 60px;
    color: #6c3ce9;
    margin: 10px 0;
}

.intro h2 {
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
}

button {
    margin-top: 20px;
    padding: 12px 25px;

    background-color: #6c3ce9;
    color: white;

    border: none;
    border-radius: 20px;
}


/* Photo */

.photo img {
    width: 300px;
    height: 300px;

    border-radius: 50%;
}


/* Other sections */

section:not(#home) {
    min-height: 70vh;
    padding: 80px;
    text-align: center;
}

section h1 {
    color: #6c3ce9;
    margin-bottom: 20px;
}

.skills p {
    display: inline-block;
    background-color: white;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 10px;
}